p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0px;
  padding-left: 0px;
}

.list-style {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
  list-style: none;
}
