.question {
  margin-bottom: 109px;
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    color: #1e2e36;
    position: relative;
    text-align: center;
    max-width: 509px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  &__title::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0%;
    display: block;
    width: 20px;
    height: 50px;
    background-color: #44c697;
    border-radius: 2px;
    z-index: -1;
  }
  &__form {
    width: 528px;
    height: 457px;
    background-color: white;
    border-left: 15px solid #44c697;
    position: absolute;
    top: 100px;
    right: 0;
  }
  &__form-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #1e2e36;
    margin-top: 50px;
    margin-left: 45px;
  }
  &__box {
    position: relative;
  }
  &__form-box {
    margin-top: 50px;
  }
  &__form-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-left: 45px;
  }
  &__form-input {
    width: 432px;
    height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
  }
  &__form-btn {
    width: 432px;
    height: 51px;
    color: white;
    background-color: #44c697;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    text-transform: uppercase;
  }
  &__form-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 80px;
  }
  &__form-tel {
    font-weight: 700;
  }
}
